.donation__wrapper {
    height: 100%;
    max-width: 1280px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 2984px;
    background: #F6F6F6;
}

.donation__dog {
    padding: 90px 30px 110px 180px;
}

.donation__content {
    display: flex;
}

.donation__title__block {
    width: 300px;
    height: 90px;
    left: 0px;
    top: 0px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.donation__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__parag__block {
    width: 315px;
    height: 17px;
    left: 0px;
    top: 110px;
    margin-bottom: 20px;
}

.donation__parag {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__card__block {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 369px;
    height: 43px;
    left: 0px;
    top: 147px;
    background: #F1CDB3;
    border-radius: 9px;
    margin-bottom: 20px;
}

.donation__card__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 10px;
}

.donation__card__pic {
    margin-right: 15px;
}

.donation__description__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
}

.donation__description__block {
    width: 380px;
    height: 72px;
    left: 0px;
    top: 210px;
}

