.help__wrapper {
    height: 100%;
    max-width: 1280px;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 2373px;
    background: #FFFFFF;
}
.help__title_block{
    margin-bottom: 60px;
    padding-top: 80px;
}

.help__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 328px;
    height: 90px;
    left: 446px;
    top: 0px;
    margin: 1em auto;
}

.test {
    display: flex;
    justify-content: space-around;
}

.help__img {
    left: 10.12%;
    right: 10.12%;
    top: 0%;
    bottom: 0%;
    height: 60px;
    width: 60px;
    left: 6px;
    top: 0px;
    border-radius: 0px;
    align-items: center;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.help__block{
    align-items: center;
}

.shampo {
    width: 34px;
}
.food{
    width: 47px;
}

.help__parag {
    height: 23px;
    left: 0px;
    top: 90px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    line-height: 23px;
}
.help__line{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}


