.about__wrapper {
    max-width: 1280px;
    display: flex;
    height: 588px;
    left: 0%;
    right: 0%;
    top: 908px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.about__content {
    display: flex;
    flex-direction: column;
}

.about__img__block {
    margin: 80px 120px 100px 215px;
}

.about__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.about__title__block {
    width: 370px;
    height: 90px;
    left: 0px;
    top: 0px;
    margin-top: 94px;
    margin-bottom: 25px;
}

.about__parag {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__parag__block {
    width: 430px;
    height: 96px;
    left: 0px;
    top: 115px;
}
.top_parag{
    margin-bottom: 25px;
}
